| Velkommen til #{projectName}
= '\n'
= '\n'
| Takk for din innmelding, din konto er nå opprettet. Her er dine innloggingsdetaljer:
= '\n'
= '\n'
| Brukernavn: #{username}
| Passord: #{email}
= '\n'
= '\n'
| Logg inn her: #{loginURL}
= '\n'
= '\n'
| Takk,
| #{projectName}
