h3 Velkommen til #{projectName}
p Takk for din innmelding, din konto er nå opprettet. Her er dine innloggingsdetaljer:
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Brukernavn:
    td #{username}
  tr
    td E-post:
    td #{email}
  tr
    td Logg inn her:
    td #{loginURL}
p
  | Takk,
  br
  | #{projectName}
